<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.jclehner.appopsxposed"
    android:versionCode="11000"
    android:versionName="1.10" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application android:label="AppOpsXposed"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposedminversion" android:value="2.0*" />
        <meta-data android:name="xposeddescription" android:value="@string/description" />

        <!--  ->
        <activity
            android:name="at.jclehner.appopsxposed.DebugActivity"
            android:label="AppOpsXposed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-  -->

        <activity
            android:name=".LauncherActivity"
            android:label="AppOpsXposed"
            android:process=":launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
